@page "/"

<PageTitle>Index</PageTitle>
<style>
	body {
		background-color: #00ff00;
		text-align: center;
		
	}
</style>

<h1>Jakub Kowalczyk </h1>

<h4>113971 </h4>


PROIEKT ABC

<SurveyPrompt Title="Jak działa Blazor?" />
